body{
    margin:0;
    font-family:monospace,sans-serif;
    background-color:rgba(135, 180, 201, 0.452);
}

h1{
    font-family:monospace;
    color: blueviolet;
    text-shadow:2px 2px 2px plum;
    font-size:4em;
    text-align:center;
}

h2{
    font-family:monospace;
    color: orangered;
    text-shadow:2px 2px 2px orange;
    font-size:2.5em;
    text-align:center;
    padding-top:20px;
}

p{
    font-size:1.1em;
}

ul.skills-list li a{
    font-size:1.5em;
    padding:25px;
    color:black;
}

ul.menu-list{
    text-align:center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color:rgba(250, 156, 79, 0.918);
}

ul.menu-list li{
    display:inline-block;
    font-size:1.5em;
    padding:8px;
}

ul.menu-list li a{
    text-decoration: none;
    color:black;
}

ul.menu-list li:hover{
    background-color:greenyellow;
}

.profile-picture{
    width:200px;
}

.about-wrapper{
    display:inline-block;
}

.about-container{
    width:35%;
}

ul.skills-list{
    text-align:center;
}

ul.skills-list li{
    display:inline-block;
    padding:20px 35px;
}

ul.skills-list li:nth-child(odd){
    background-color:rgba(255, 193, 142, 0.918);
}

.network{
    text-align:center;
    padding-bottom:50px;
}

section.network a{
    font-size:1.4em;
    text-decoration: none;
    color:black;
    margin:25px;
    font-style: bold;
}

section.network a:hover{
    text-decoration: underline;
    color:blueviolet;
}

footer{
    background-color:rgba(250, 156, 79, 0.918);
    text-align:right;
    color:grey;
    font-size:10px;
    padding-right: 25px;
    padding-bottom:10px;
    border-top:2px solid black;
}